{% load static %} {% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/base.css'%}">
    {% block head %}{% endblock head %}
    <title>{% block title %}Главная{% endblock title %}</title>
</head>
<body>
    <header>
        <h1>Сайт-портфолио</h1>
        <a href="Главная"></a>
        <a href="Работы"></a>
        <a href="Отзывы"></a>
    </header>
    <nav></nav>
    <article>
        {% block main %}

        {% endblock main %}
    </article>
    <footer></footer>
</body>
</html>